.bookGradShootPage {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  text-align: center;
  padding: 0;
  color: #3d0c11;
}

.pageTitle {
  font-family: Playfair Display;
  font-size: 4rem;
  padding-bottom: 2rem;
}