.formSectionContainer {
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.formSectionHeader {
    text-align: center;
}

.locationSelect {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    
}

.locationCheckboxes{
    display: flex;
    align-items: center;
    justify-items: center;
}

.navigationButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    gap: 10px;
}

.bookShootPage__Button{
    width: 100px;
    height: 40px;
}

.formSection {
    display: flex;
    align-items: center;
    flex-direction: column;    
}
