.gradShootForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 100%;
}

.formSection {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 100%;
  justify-content: center;

}

.formSectionContainer {
  /* min-height: 400px; */
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.formSectionHeader {
  text-align: left;
  padding-left: 3rem;
  color: #3d0c11;
  margin: 0 !important;
}

.formSectionBody {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* min-height: 325px; */
    align-items: center;
}

.formSectionRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.formSectionItem {
  flex: 1;
}

/*Package Select*/
.packageSelectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20rem;
}

.packageList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 0;
  gap:1rem;
  min-width: 50%;
  align-items: center;

  /* properties as child */
  flex-grow: 1;
}

.packageButton {
  width: 27rem;
  max-width: 100%;
}

.packageDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  min-width: 50%;
  text-wrap: wrap;

  /* properties as child */
  flex-grow: 1;
}

.packageDescription.title {
  width: 100%;
  font-size: 2rem;
  text-align: left;
  text-wrap: none;
  margin: 0;
  padding: 0;
}

.packageDescription.body {
  padding-top: 0;
  margin: 0;
}

.packageDescription {
  padding-top: 2rem;
  text-align: left;
  font-size: 1rem;
}



/*Name Entry*/
.pronouns.selectDropDownContainer {
  margin: 20px 0 0 0 !important;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pronouns.selectDropDown {
  flex: 1;
}

.contactMethodContainer {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.contactMethodRadioButtonsContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.methodInputContainer {
  padding-bottom: 3px;
  display: flex;
  flex: 2;
  justify-content: space-around;
}

.contactRadioButtons {
  display: flex !important;
  flex-direction: row !important;
}

.contactMethodInput {
  flex-grow: 2;
  max-width: 50%;
  padding-bottom: 5px !important;
}

/*
Calendar
*/

.MuiPickersLayout-root {
  background-color: transparent !important;

}

/*
Location
*/

.locationSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationCheckboxes {
  display: flex;
  align-items: center;
  justify-items: center;
}

/*
Review Page
*/
.appointmentDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appointmentDetailSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.appointmentDetailSection > h4 {
  text-align: left;
  margin: 5px 0;
}

.appointmentDetailSection > p {
  margin: 5px 0;

}

.appointmentDetailsContainer > h3 {
  align-self: center;
  margin: 10px 0;
}

.reviewPage__spotsList{
  margin-bottom: 0;
}

/*
border
*/
.separationBorder {
  width: 60px;
  margin: 20px 0;
  border-top:  1px solid #3d0c11;
}

/*
Buttons
*/

.navigationButtons {
  align-self: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.gradShootFormButton {
  width: 100px;
  height: 40px;
}


/*
Confirmation Page
*/

.ConfirmationPage {
  text-align: center;
}