.landingPage__bookButtonContainer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.landingPage__photos{
    display: flex;
    justify-content: center;
    padding: 10px 100px;
    column-gap: 30px;
}

.landingPage__imageContainer {
    position: relative;
    cursor: pointer;

}

.landingPage__image1 {
    width: 400px;
    height: auto;
    cursor: pointer;
}

.landingPage__image1Text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /*border-color: black;
    border-width: 2px;*/
    font-size: 40px;     
    text-shadow: 0 0 3px #202020, 0 0 5px #444444;

}

.landingPage__nateChristinaPhoto {
    width: 400px;
    height: auto;
    cursor: pointer;
}

.photo {
    transition: .25s;
}

.photo:hover {
    scale: 101%;
    box-shadow: 6px 8px 3px rgb(153, 153, 153);
}