.App {
    background-color: #fcf5e7;
    height: 100vh;
}

.headerContainer {
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
    /* padding-top: 1.25rem */
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}