.App {
    background-color: #fcf5e7;
    height: 100%;
    /*TODO:  make landing page elements positioned normally to APP will extend all the way down */
    min-height: 100vh;
    width: 100%;
}

.headerContainer {
    padding-top: 1.25rem
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}